header{
    display: flex;
    padding-top: 20px;
    background-color: #1F2937;
    
}
a{
    text-decoration: none;
   
}
.header-left{
    margin-left: 200px;
    margin-right: 500px;
}
.header-left a{
    font: 24px ;
    color: #F9FAF8;
    text-transform: uppercase;
}
.header-right{
    margin-left: 300px;
    margin-right:200px;
    text-transform: lowercase;
}
.header-right a{
    font: 18px ;
    color: #E5E7EB;
    padding-left: 135px;
}
.header-right a:hover{
    color: rgb(255, 177, 75);
}
.intro{
    background-color: #1F2937;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}
.intro-left{
    width: 600px;
    height:400px;
    margin-left: 200px;
    margin-right: 100px;
}
.big-text{
    font:48px bolder;
    color: #F9FAF8;
    
}
.small-text{
    font: 18px ;
    color: #E5E7EB;
}
.intro-right{
    width: 800px;
    height: 400px;
    margin-right: 200px;
    margin-left:100px;
}
.img-intro{
    width:100%;
    height:100%;
    object-fit: contain;
}
.intro-button{
    background-color:#3882F6;
    width: 100px;
    height: 40px;
    border-color: #3882F6;
    color: white;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 6px;
}