header{
    display: flex;
    padding: 10px;
    background-color: #1F2937;
    
}
a{
    text-decoration: none;
   
}
.header-left{
    margin-left: 100px;
}
.header-right{
    margin-left: 450px;
    text-transform: lowercase;
}
.header-right a{
    font: 18px ;
    color: #E5E7EB;
    padding-left: 20px;
}