p{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1F2937;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1F2937;
    border: solid red;

}
a{
    text-decoration: none;
    border: solid yellow;
   
}
.header-left{
    border: solid pink;
}
.header-left a{
    font: 24px ;
    color: #F9FAF8;
    text-transform: uppercase;
    border: solid green;
}
.header-right{
    text-transform: lowercase;
    border: solid orange;
    display: flex; /* Added flexbox to align items */
    gap: 170px;
}
.header-right a{
    font-size: 18px ;
    color: #E5E7EB;
}
.header-right a:hover{
    color: rgb(255, 177, 75);
}
.intro{
    background-color: #1F2937;
    padding-top: 160px;
    padding-bottom: 100px;
    height: 390px;
    display: flex;
    border: solid olive;
}
.intro-left{
    width: 700px;
    margin-left: 250px;
    border: solid aqua;
}
.big-text{
    font-size:48px;
    font-weight: 800;
    color: #F9FAF8;
    border: solid wheat;
    
}
.small-text{
    margin-top: 20px;
    font: 18px ;
    color: #E5E7EB;
    border: solid saddlebrown;
}
.intro-right{
    width: 900px;
    margin-right: 250px;
    margin-left:50px;
    border: solid hotpink;
}
.img-intro{
    width:100%;
    height:100%;
    object-fit: cover;
    border: solid firebrick;
}
.intro-button{
    background-color:#3882F6;
    width: 100px;
    height: 40px;
    border:solid salmon;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 6px;
}
.info{
    background-color: #F9FAF8;
    text-align: center;
    height: 500px;
}
.info-text{
    padding: 50px;
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
}
.players{
    display: flex;
    justify-content: center;
}
.players div{
    margin-right: 70px;
}
.players img{
    height:230px;
    width:260px;
    border-radius: 15px;
    border: solid #3882F6;
}
.players p{
    padding:10px;

}
.quote-box{
    height:500px;
    background-color: #EFE7EB;
    display: flex;
    justify-content: center;
    
}
.quote{
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    width: 750px;
    padding: 10px;
    font-weight: lighter;
    display: flex;
    align-items: center;
}
.reference{
    height: fit-content;
    margin-top: 340px;
    font-size: 25px;
    font-weight: 700;
    margin-left: -360px;
}
.callToAction-box{
    background-color: #F9FAF8;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 990px;
    height: 160px;
    padding: 5px;
    background: #3882F6;
    border-radius: 5px;
}
.container-right{
    margin-left: 10px;
    padding-left: 10px;
    
}
.container-left{
    color: #F9FAF8;
    margin: 10px;
    font-size: 20px;
    padding-right: 10px;
}
.upper{
    font-weight: 800;
    padding: 5px;
}
.lower{
    padding: 5px;
}
.container button{
    border: solid #E5E7EB;
    background-color:#3882F6;
    width: 130px;
    height: 40px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    
}
footer{
    height: 90px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
}